Source/Clients/Client10/Client10/Connected Services/Service/Server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Server" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServer_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IServer_ShowAbonents_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAbonents" />
  </wsdl:message>
  <wsdl:message name="IServer_ShowAbonents_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAbonentsResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_ProvideMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:ProvideMessage" />
  </wsdl:message>
  <wsdl:message name="IServer_ProvideMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProvideMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IServer_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IServer_cbSendMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:cbSendMessage" />
  </wsdl:message>
  <wsdl:message name="IServer_cbShowAbonent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:cbShowAbonent" />
  </wsdl:message>
  <wsdl:portType name="IServer">
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/SendMessage" message="tns:IServer_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAbonents">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/ShowAbonents" message="tns:IServer_ShowAbonents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/ShowAbonentsResponse" message="tns:IServer_ShowAbonents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProvideMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/ProvideMessage" message="tns:IServer_ProvideMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/ProvideMessageResponse" message="tns:IServer_ProvideMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/Connect" message="tns:IServer_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/ConnectResponse" message="tns:IServer_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/Disconnect" message="tns:IServer_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cbSendMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/cbSendMessage" message="tns:IServer_cbSendMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="cbShowAbonent">
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/cbShowAbonent" message="tns:IServer_cbShowAbonent_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServer" type="tns:IServer">
    <wsp:PolicyReference URI="#NetTcpBinding_IServer_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IServer/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ShowAbonents">
      <soap12:operation soapAction="http://tempuri.org/IServer/ShowAbonents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProvideMessage">
      <soap12:operation soapAction="http://tempuri.org/IServer/ProvideMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IServer/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IServer/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="cbSendMessage">
      <soap12:operation soapAction="http://tempuri.org/IServer/cbSendMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cbShowAbonent">
      <soap12:operation soapAction="http://tempuri.org/IServer/cbShowAbonent" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Server">
    <wsdl:port name="NetTcpBinding_IServer" binding="tns:NetTcpBinding_IServer">
      <soap12:address location="net.tcp://localhost:7998/Server/Server/tcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:7998/Server/Server/tcp</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>